@import "variables.less";
@import "functions.less";

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;

  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
body {
  margin: 0;
  padding: 0;
  font-size: @font-size-base;
  font-weight: @font-weight-base;
  overflow-x: hidden;

  @media @mobile {
    font-size: @font-size-base;
  }
  @media @tablet {
    font-size: @font-size-base;
  }
  @media @desktop-md {
    font-size: floor(@font-size-base * @ratio-md);
  }
  @media @desktop-hd {
    font-size: floor(@font-size-base * @ratio-hd);
  }
}
h1, h2, h3, h4, h5 {
  font-weight: @font-weight-base;
}
h2 {
  text-transform: uppercase;

  @media @mobile {
    margin: 45px 0;
  }
  @media @tablet {
    font-size: @heading-font-size-1;
    margin: 0 0 25px 0;
  }
  @media @desktop-md {
    font-size: floor(@heading-font-size-1 * @ratio-md);
    margin: 0 0 20px 0;
  }
  @media @desktop-hd {
    font-size: floor(@heading-font-size-1 * @ratio-hd);
    margin: 0 0 50px 0;
  }
}
h3 {
  font-weight: @heading-font-weight-3;
  margin-bottom: 20px !important;

  @media @mobile {
    font-size: 16px;
  }
  @media @tablet {
    font-size: @heading-font-size-3;
    line-height: 20px;
  }
  @media @desktop-md {
    font-size: floor(@heading-font-size-3 * @ratio-md);
    line-height: 27px;
  }
  @media @desktop-hd {
    font-size: floor(@heading-font-size-3 * @ratio-hd);
    line-height: 46px;
  }
}
h4 {
  @media @tablet {
    font-size: @heading-font-size-4;
    line-height: 18px;
  }
  @media @desktop-md {
    font-size: floor(@heading-font-size-4 * @ratio-md);
    line-height: 23px;
  }
  @media @desktop-hd {
    font-size: floor(@heading-font-size-4 * @ratio-hd);
    line-height: 32px;
  }
}
@media @mobile {
  h1, h2 {
    text-align: center;
  }
}
@media @desktop-hd {
  .container {
    width: 1920px;
  }
}
.bg-left .vc_parallax-inner {
  background-size: auto !important;
  background-position: -300px 435px !important;
  background-repeat: no-repeat !important;
}

.bg-right .vc_parallax-inner {
  background-size: auto !important;
  background-position: right -135px top 375px !important;
  background-repeat: no-repeat !important;

  @media @desktop-md {
    position: absolute;
    left: 0;
    right: -110px;
    top: 0;
    background-attachment: scroll;
    background-color: transparent;
    background-image: inherit;
    background-size: contain;
    z-index: 0;
    background-position: right;
  }
}
header {
  @media @mobile {
    min-height: 70px;
  }
  @media @tablet {
    height: @header-height-base;
  }
  @media @desktop-md {
    height: floor(@header-height-base * @ratio-md);
  }
  @media @desktop-hd {
    height: 135px;
  }
}
header.sticky {
    position: fixed;
    top: 0;
    background: #000;
    width: 100%;
    z-index: 10000;
    border-bottom: 3px solid #808080;
    .duration(.5s);

  @media @mobile {
    display: none;
  }
  @media @tablet {
    height: 85px;
  }
  @media @desktop-md {
    height: 85px;
  }
  @media @desktop-hd {
    height: 90px;
  }
}
.navbar-brand {
  @media @mobile {
    padding: 0 35px !important;
  }
}

.logo {
  padding: 10px 0;

  @media @mobile {
    text-align: center;
  }
}
.logo img {
  height: @logo-height-base;

  @media @mobile {
    display: inline;
    height: 60px;
  }
  @media @tablet {
    display: inline-block;
    height: floor(@logo-height-base * 0.35);
  }
  @media @desktop-md {
    height: floor(@logo-height-base * 0.6);
  }
  @media @desktop-hd {
    height: auto;
  }
}
header.sticky .logo img {
  @media @desktop-hd {
    height: 60px;
  }
}
@media @desktop-hd {
  .header-menu ul {
    margin: 0 0 0 300px;
  }
}
.navbar-nav {
  @media @tablet {
    float: right;
  }
  @media @desktop-hd {
    float: left;
  }
}
.header-menu ul li {
  display: inline-block;
  background: url('../img/seperator_1.png') no-repeat top left;
  padding: 32px 30px 0 0;
  text-transform: uppercase;
  font-size: @header-menu-font-size-base;

  @media @tablet {
    font-size: @header-menu-font-size-base * 2 / 3;
  }
  @media @desktop-hd {
    padding: 32px 60px 0 0;
    font-size: @header-menu-font-size-base;
  }
}
.header-menu ul li a:hover,
.header-menu ul li a:focus {
  background: 0;
  border: 0;
  text-decoration: underline;
}
@media @desktop-hd {
  .header-menu .navbar-brand {

  }
}

.mobile-menu .navbar-brand {
  @media @mobile {
    float: none;
    display: block;
    position: absolute;
    width: 100%;
  }
  @media @desktop-hd {
    height: 135px;
  }
}
.mobile-menu .navbar-toggle {
  float: left;
  margin-right: 0;
  margin-top: 15px;
  margin-left: 10px;
  z-index: 1000;
}
.mobile-menu .navbar-toggle .icon-bar {
  display: block;
  width: 3px;
  height: 3px;

  .border-radius(50%);
}
.mobile-menu .navbar-toggle:not(.collapsed) {
  .rotate(90deg);
  .duration(.5s);
}
.mobile-menu .navbar-nav > li {
  line-height: 32px;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0px;
  padding: 0 0 10px 0;
}
.mobile-menu .navbar-nav > li:not(:last-child) {
  border-bottom: 2px solid #808080;
}

footer {
  position: relative;

  @media @tablet {
    font-size: @footer-font-size-base;
    padding: 0px;
  }
  @media @desktop-md {
    font-size: floor(@footer-font-size-base * @ratio-md);
    padding: 0px;
  }
  @media @desktop-hd {
    font-size: floor(@footer-font-size-base * @ratio-hd);
    padding: 110px 0 0 0;
  }
}

footer h4 {
  color: #8CC63F;
  text-transform: uppercase;
  border-left: 3px solid #8CC63F;
  font-size: @heading-font-size-base-4;

  @media @tablet {
    margin: 0 0 10px 0;
    padding: 0 0 0 8px;
    font-size: floor(@heading-font-size-base-4 * @ratio-sm);
  }
  @media @desktop-md {
    margin: 0 0 16px 0;
    font-size: @heading-font-size-base-4;
    padding: 0 0 0 8px;
  }
  @media @desktop-hd {
    font-size: floor(@heading-font-size-base-4 * 3 / 2);
    line-height: 19px;
    margin: 0 0 30px 0;
  }
}
.footer-logo {
  display: block;
  text-align: center;

  @media @tablet {
    top: -69px;
    position: absolute;
    width: 100%;
    z-index: 9000;
  }
  @media @desktop-hd {
    top: -124px;
  }
}
.footer-logo img {
  @media @tablet {
      max-width: 85px;
  }
  @media @desktop-hd {
      max-width: none;
  }
}


.footer-menu {
  list-style-type: none;
}
@media @desktop-hd {
  .footer-menu {
    list-style-type: none;
    padding: 0 70px;
  }
}
.footer-menu .menu {
  margin: 0;
  padding: 0;
}
.footer-menu .menu li {
  padding: 0;
  list-style-type: none;

  @media @tablet {
    font-size: 14px;
  }
  @media @desktop-hd {
    font-size: 24px;
  }
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  margin: 0 0 10px 0;
  list-style-type: none;
  background-position: 0 7px;

  @media @tablet {
    padding: 0 0 0 17.5px;
  }
  @media @desktop-md {
    padding: 0 0 0 20px;
  }
  @media @desktop-hd {
    padding: 0 0 0 35px;
  }
}
footer .icon {
  @media @tablet {
    background-size: 7.5px auto;
  }
  @media @desktop-md {
    background-size: 10px auto;
  }
  @media @desktop-hd {
    background-size: auto;
  }
}
/* Icons */
.icon-sm-plane {
  background-image: url('../img/icon_sm_plane.png');
  background-repeat: no-repeat;
}
.icon-sm-phone {
  background-image: url('../img/icon_sm_phone.png');
  background-repeat: no-repeat;
}
.icon-sm-compass {
  background-image: url('../img/icon_sm_compass.png');
  background-repeat: no-repeat;
}

/* VC */
@media @mobile {
  .row,
  .vc_row {
    margin-left: -17px;
    margin-right: -17px;
  }
  *[class*='vc_col-'],
  *[class*='col-'] {
    margin: 0 0 70px 0;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .wpb_row {
    margin-bottom: 35px !important;
  }
  .wpb_single_image .vc_single_image-wrapper {
    display: block !important;
    text-align: center !important;
  }
  .vc_parallax-inner {
    background-image: none !important;
  }
}
@media @tablet {
  .row,
  .vc_row {
    margin-left: -17px;
    margin-right: -17px;
  }
  *[class*='vc_col-'],
  *[class*='col-'] {
    padding-left: 17px !important;
    padding-right: 17px !important;
  }
  .wpb_row {
    margin-bottom: 35px !important;
  }
}
@media only screen and (max-width: 1919px) {
  .vc_row {
    /*padding-left: 0 !important;*/
    /*padding-right: 0 !important;*/
  }
}

/* Boxes */
.box-1 {
  @media @tablet {
    padding-top: 55px;
    padding-left: 35px !important;
  }
  @media @desktop-md {
    padding-top: 80px;
    padding-left: 45px !important;
  }
  @media @desktop-hd {
    padding-top: 200px !important;
    padding-left: 80px !important;
  }
}

.box-2 {
  @media @tablet {
    padding-top: 40px !important;
    padding-right: 40px !important;
    padding-bottom: 40px !important;
    padding-left: 40px !important;
  }
  @media @desktop-md {
    padding-top: 55px !important;
    padding-right: 50px !important;
    padding-bottom: 55px !important;
    padding-left: 50px !important;
  }
  @media @desktop-hd {
    padding-top: 95px !important;
    padding-right: 95px !important;
    padding-bottom: 95px !important;
    padding-left: 95px !important;
  }
}

/* Containers */
.row-content-1 {
  @media @tablet {
    padding-top: 40px !important;
    padding-right: 60px !important;
    padding-bottom: 40px !important;
    padding-left: 60px !important;
  }
  @media @desktop-md {
    padding-top: 55px !important;
    padding-right: 80px !important;
    padding-bottom: 55px !important;
    padding-left: 80px !important;
  }
  @media @desktop-hd {
    padding-top: 130px !important;
    padding-right: 240px !important;
    padding-bottom: 120px !important;
    padding-left: 240px !important;
  }
}
.row-content-1 .wpb_column {
  @media @mobile {
    margin: 0 0 5px 0;
  }
}
.row-content-1 .wpb_text_column {
  @media @mobile {
    text-align: center;
  }
}


.row-content-1 img {
  @media @mobile {
    max-width: 195px !important;
  }
  @media @tablet {
    max-width: 60px !important;
  }
  @media @desktop-md {
    max-width: 80px !important;
  }
  @media @desktop-hd {
    max-width: none !important;
  }
}

.row-content-2 {
  @media @tablet {
    padding-top: 40px !important;
    padding-right: 80px !important;
    padding-bottom: 40px !important;
    padding-left: 80px !important;
  }
  @media @desktop-md {
    padding-top: 50px !important;
    padding-right: 105px !important;
    padding-bottom: 50px !important;
    padding-left: 105px !important;
  }
  @media @desktop-hd {
    padding-top: 100px !important;
    padding-right: 280px !important;
    padding-bottom: 145px !important;
    padding-left: 280px !important;
  }
}
.row-content-2 .vc_row {
  @media @mobile {
    margin-bottom: 0 !important;
  }
}
.row-content-2 img {
  @media @tablet {
    max-width: 64px !important;
  }
}
.row-content-2 .wpb_single_image img {
  @media @desktop-md {
    max-width: 86px !important;
  }
  @media @desktop-hd {
    max-width: none !important;
  }
}





.row-content-3 {
  @media @tablet {
    padding-top: 20px !important;
    padding-right: 95px !important;
    padding-left: 95px !important;
  }
  @media @desktop-md {
    padding-top: 40px !important;
    padding-right: 130px !important;
    padding-left: 130px !important;
  }
  @media @desktop-hd {
    padding-top: 80px !important;
    padding-right: 305px !important;
    padding-left: 305px !important;
  }
}
.row-content-3 .wpb_column {
  @media @mobile {
    margin-bottom: 15px !important;
  }
}
.row-content-3 .wpb_content_element {
  @media @tablet {
    text-align: center;
    margin-bottom: 30px !important;
  }
  @media @desktop-md {
    margin-bottom: 40px !important;
  }
  @media @desktop-hd {
    margin-bottom: 60px !important;
  }
}

.row-content-3 .wpb_single_image {
  @media @mobile {
    display: inline-block;
    width: 35px;
    vertical-align: top;
  }
  @media @tablet {
    margin-bottom: 10px !important;
  }
  @media @desktop-md {
    margin-bottom: 15px !important;
  }
  @media @desktop-hd {
    margin-bottom: 30px !important;
  }
}
.row-content-3 .wpb_text_column {
  @media @mobile {
    display: inline-block;
    padding: 10px 0px;
    margin: 0 0 0 10px;
    width: 70%;
  }
}
.row-content-3 img {
  @media @tablet {
    max-width: 40px !important;
  }
}

.row-content-3 .wpb_single_image img {
  @media @desktop-md {
    max-width: 53px !important;
  }
  @media @desktop-hd {
    max-width: none !important;
  }
}

.copyright {
  font-size: @copyright-font-size-base;
  margin: 50px 0 20px 0;

  @media @desktop-md {
    font-size: @copyright-font-size-base * @ratio-md;
  }
  @media @desktop-lg {
    font-size: @copyright-font-size-base * @ratio-md;
  }
  @media @desktop-hd {
    font-size: @copyright-font-size-base * @ratio-md;
  }
}
.copyright .column-content {
  text-align: center;
}

@media @mobile {
  .round-xs .vc_single_image-wrapper {
    display: block !important;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    .border-radius(50%);

    margin-bottom: 70px !important;
  }
  .round-xs .vc_single_image-wrapper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
}

/* Flex Slider */
.flexslider {
  background: 0;
  border: 0;
}

.career .button {
  display: inline-block;
  background: 0;
  .border-radius(25px);
  margin: 0 35px 0 0;
  border: 2px solid #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;

  @media @mobile {
    margin: 0 15px 0 0;
    border: 3px solid #fff;
    .border-radius(10px);
    padding: 5px 20px;
  }
  @media @tablet {
    padding: 8px 50px;
  }
}

.career .share-button {
  background-image: url('../img/icon_share.png');
  background-repeat: no-repeat;
  background-position: left 20px center;

  @media @mobile {
    padding: 5px 20px;
    background-size: 15px;
    text-indent:-9999px;
    background-position: center;
  }
  @media @tablet {
    padding: 8px 15px 8px 45px;
    background-size: 19px;
    background-position: left 15px center;
  }
  @media @desktop-md {
    padding: 8px 15px 8px 45px;
    background-size: 16px;
    background-position: left 15px center;
  }
  @media @desktop-hd {
    background-size: auto;
    padding: 8px 15px 8px 75px;
  }
}


/* Flex Slider */
.flex-control-paging li {

}
.flex-control-paging li a {
  background: 0;
  border: 2px solid #fff;
  -webkit-box-shadow: none;
  box-shadow: none;

  @media @desktop-md {
    width: 12px;
    height: 12px;
  }

  @media @desktop-hd {
    width: 20px;
    height: 20px;
  }
}
.flex-control-paging li a:hover {
  background: #fff;
}
.flex-control-paging li a.flex-active {
  background: #fff;
}
.flex-control-nav {
  @media @desktop-md {
    bottom: -50px;
  }
  @media @desktop-lg {
    bottom: -80px;
  }
  @media @desktop-hd {
    bottom: -100px;
  }
}


