//== Media Queries
@mobile:   ~"only screen and (max-width: 767px)";
@tablet:   ~"only screen and (min-width: 768px)";
@desktop-md:   ~"only screen and (min-width: 1024px)";
@desktop-lg:   ~"only screen and (min-width: 1170px)";// and (max-width: 1919px)
@desktop-hd:   ~"only screen and (min-width: 1920px)";

//== Media Queries Ratio
@ratio-sm: 0.75;
@ratio-md: 1.3125;
@ratio-hd: 2;

//== Typography
@font-size-base:         16px;
@font-weight-base:       300;

@header-menu-font-size-base: 18px;

@heading-font-size-1:    40px;

@heading-font-size-3:    16px;
@heading-font-weight-3:  700;

@heading-font-size-base-4:    16px;
@heading-font-size-4:    14px;

@footer-font-size-base:       12px;
@footer-heading-font-base-4:  24px;

@copyright-font-size-base:       16px;

//== Header
@header-height-base:          50px;

//== Logo
@logo-height-base:            100px;