*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  overflow-x: hidden;
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 21px;
  }
}
@media only screen and (min-width: 1920px) {
  body {
    font-size: 32px;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}
h2 {
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  h2 {
    margin: 45px 0;
  }
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 40px;
    margin: 0 0 25px 0;
  }
}
@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 52px;
    margin: 0 0 20px 0;
  }
}
@media only screen and (min-width: 1920px) {
  h2 {
    font-size: 80px;
    margin: 0 0 50px 0;
  }
}
h3 {
  font-weight: 700;
  margin-bottom: 20px !important;
}
@media only screen and (max-width: 767px) {
  h3 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  h3 {
    font-size: 21px;
    line-height: 27px;
  }
}
@media only screen and (min-width: 1920px) {
  h3 {
    font-size: 32px;
    line-height: 46px;
  }
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 14px;
    line-height: 18px;
  }
}
@media only screen and (min-width: 1024px) {
  h4 {
    font-size: 18px;
    line-height: 23px;
  }
}
@media only screen and (min-width: 1920px) {
  h4 {
    font-size: 28px;
    line-height: 32px;
  }
}
@media only screen and (max-width: 767px) {
  h1,
  h2 {
    text-align: center;
  }
}
@media only screen and (min-width: 1920px) {
  .container {
    width: 1920px;
  }
}
.bg-left .vc_parallax-inner {
  background-size: auto !important;
  background-position: -300px 435px !important;
  background-repeat: no-repeat !important;
}
.bg-right .vc_parallax-inner {
  background-size: auto !important;
  background-position: right -135px top 375px !important;
  background-repeat: no-repeat !important;
}
@media only screen and (min-width: 1024px) {
  .bg-right .vc_parallax-inner {
    position: absolute;
    left: 0;
    right: -110px;
    top: 0;
    background-attachment: scroll;
    background-color: transparent;
    background-image: inherit;
    background-size: contain;
    z-index: 0;
    background-position: right;
  }
}
@media only screen and (max-width: 767px) {
  header {
    min-height: 70px;
  }
}
@media only screen and (min-width: 768px) {
  header {
    height: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  header {
    height: 65px;
  }
}
@media only screen and (min-width: 1920px) {
  header {
    height: 135px;
  }
}
header.sticky {
  position: fixed;
  top: 0;
  background: #000;
  width: 100%;
  z-index: 10000;
  border-bottom: 3px solid #808080;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
@media only screen and (max-width: 767px) {
  header.sticky {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  header.sticky {
    height: 85px;
  }
}
@media only screen and (min-width: 1024px) {
  header.sticky {
    height: 85px;
  }
}
@media only screen and (min-width: 1920px) {
  header.sticky {
    height: 90px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-brand {
    padding: 0 35px !important;
  }
}
.logo {
  padding: 10px 0;
}
@media only screen and (max-width: 767px) {
  .logo {
    text-align: center;
  }
}
.logo img {
  height: 100px;
}
@media only screen and (max-width: 767px) {
  .logo img {
    display: inline;
    height: 60px;
  }
}
@media only screen and (min-width: 768px) {
  .logo img {
    display: inline-block;
    height: 35px;
  }
}
@media only screen and (min-width: 1024px) {
  .logo img {
    height: 60px;
  }
}
@media only screen and (min-width: 1920px) {
  .logo img {
    height: auto;
  }
}
@media only screen and (min-width: 1920px) {
  header.sticky .logo img {
    height: 60px;
  }
}
@media only screen and (min-width: 1920px) {
  .header-menu ul {
    margin: 0 0 0 300px;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-nav {
    float: right;
  }
}
@media only screen and (min-width: 1920px) {
  .navbar-nav {
    float: left;
  }
}
.header-menu ul li {
  display: inline-block;
  background: url('../img/seperator_1.png') no-repeat top left;
  padding: 32px 30px 0 0;
  text-transform: uppercase;
  font-size: 18px;
}
@media only screen and (min-width: 768px) {
  .header-menu ul li {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1920px) {
  .header-menu ul li {
    padding: 32px 60px 0 0;
    font-size: 18px;
  }
}
.header-menu ul li a:hover,
.header-menu ul li a:focus {
  background: 0;
  border: 0;
  text-decoration: underline;
}
@media only screen and (max-width: 767px) {
  .mobile-menu .navbar-brand {
    float: none;
    display: block;
    position: absolute;
    width: 100%;
  }
}
@media only screen and (min-width: 1920px) {
  .mobile-menu .navbar-brand {
    height: 135px;
  }
}
.mobile-menu .navbar-toggle {
  float: left;
  margin-right: 0;
  margin-top: 15px;
  margin-left: 10px;
  z-index: 1000;
}
.mobile-menu .navbar-toggle .icon-bar {
  display: block;
  width: 3px;
  height: 3px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.mobile-menu .navbar-toggle:not(.collapsed) {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.mobile-menu .navbar-nav > li {
  line-height: 32px;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0px;
  padding: 0 0 10px 0;
}
.mobile-menu .navbar-nav > li:not(:last-child) {
  border-bottom: 2px solid #808080;
}
footer {
  position: relative;
}
@media only screen and (min-width: 768px) {
  footer {
    font-size: 12px;
    padding: 0px;
  }
}
@media only screen and (min-width: 1024px) {
  footer {
    font-size: 15px;
    padding: 0px;
  }
}
@media only screen and (min-width: 1920px) {
  footer {
    font-size: 24px;
    padding: 110px 0 0 0;
  }
}
footer h4 {
  color: #8CC63F;
  text-transform: uppercase;
  border-left: 3px solid #8CC63F;
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  footer h4 {
    margin: 0 0 10px 0;
    padding: 0 0 0 8px;
    font-size: 12px;
  }
}
@media only screen and (min-width: 1024px) {
  footer h4 {
    margin: 0 0 16px 0;
    font-size: 16px;
    padding: 0 0 0 8px;
  }
}
@media only screen and (min-width: 1920px) {
  footer h4 {
    font-size: 24px;
    line-height: 19px;
    margin: 0 0 30px 0;
  }
}
.footer-logo {
  display: block;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-logo {
    top: -69px;
    position: absolute;
    width: 100%;
    z-index: 9000;
  }
}
@media only screen and (min-width: 1920px) {
  .footer-logo {
    top: -124px;
  }
}
@media only screen and (min-width: 768px) {
  .footer-logo img {
    max-width: 85px;
  }
}
@media only screen and (min-width: 1920px) {
  .footer-logo img {
    max-width: none;
  }
}
.footer-menu {
  list-style-type: none;
}
@media only screen and (min-width: 1920px) {
  .footer-menu {
    list-style-type: none;
    padding: 0 70px;
  }
}
.footer-menu .menu {
  margin: 0;
  padding: 0;
}
.footer-menu .menu li {
  padding: 0;
  list-style-type: none;
}
@media only screen and (min-width: 768px) {
  .footer-menu .menu li {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1920px) {
  .footer-menu .menu li {
    font-size: 24px;
  }
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  margin: 0 0 10px 0;
  list-style-type: none;
  background-position: 0 7px;
}
@media only screen and (min-width: 768px) {
  footer ul li {
    padding: 0 0 0 17.5px;
  }
}
@media only screen and (min-width: 1024px) {
  footer ul li {
    padding: 0 0 0 20px;
  }
}
@media only screen and (min-width: 1920px) {
  footer ul li {
    padding: 0 0 0 35px;
  }
}
@media only screen and (min-width: 768px) {
  footer .icon {
    background-size: 7.5px auto;
  }
}
@media only screen and (min-width: 1024px) {
  footer .icon {
    background-size: 10px auto;
  }
}
@media only screen and (min-width: 1920px) {
  footer .icon {
    background-size: auto;
  }
}
/* Icons */
.icon-sm-plane {
  background-image: url('../img/icon_sm_plane.png');
  background-repeat: no-repeat;
}
.icon-sm-phone {
  background-image: url('../img/icon_sm_phone.png');
  background-repeat: no-repeat;
}
.icon-sm-compass {
  background-image: url('../img/icon_sm_compass.png');
  background-repeat: no-repeat;
}
/* VC */
@media only screen and (max-width: 767px) {
  .row,
  .vc_row {
    margin-left: -17px;
    margin-right: -17px;
  }
  *[class*='vc_col-'],
  *[class*='col-'] {
    margin: 0 0 70px 0;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .wpb_row {
    margin-bottom: 35px !important;
  }
  .wpb_single_image .vc_single_image-wrapper {
    display: block !important;
    text-align: center !important;
  }
  .vc_parallax-inner {
    background-image: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .row,
  .vc_row {
    margin-left: -17px;
    margin-right: -17px;
  }
  *[class*='vc_col-'],
  *[class*='col-'] {
    padding-left: 17px !important;
    padding-right: 17px !important;
  }
  .wpb_row {
    margin-bottom: 35px !important;
  }
}
@media only screen and (max-width: 1919px) {
  .vc_row {
    /*padding-left: 0 !important;*/
    /*padding-right: 0 !important;*/
  }
}
/* Boxes */
@media only screen and (min-width: 768px) {
  .box-1 {
    padding-top: 55px;
    padding-left: 35px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .box-1 {
    padding-top: 80px;
    padding-left: 45px !important;
  }
}
@media only screen and (min-width: 1920px) {
  .box-1 {
    padding-top: 200px !important;
    padding-left: 80px !important;
  }
}
@media only screen and (min-width: 768px) {
  .box-2 {
    padding-top: 40px !important;
    padding-right: 40px !important;
    padding-bottom: 40px !important;
    padding-left: 40px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .box-2 {
    padding-top: 55px !important;
    padding-right: 50px !important;
    padding-bottom: 55px !important;
    padding-left: 50px !important;
  }
}
@media only screen and (min-width: 1920px) {
  .box-2 {
    padding-top: 95px !important;
    padding-right: 95px !important;
    padding-bottom: 95px !important;
    padding-left: 95px !important;
  }
}
/* Containers */
@media only screen and (min-width: 768px) {
  .row-content-1 {
    padding-top: 40px !important;
    padding-right: 60px !important;
    padding-bottom: 40px !important;
    padding-left: 60px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .row-content-1 {
    padding-top: 55px !important;
    padding-right: 80px !important;
    padding-bottom: 55px !important;
    padding-left: 80px !important;
  }
}
@media only screen and (min-width: 1920px) {
  .row-content-1 {
    padding-top: 130px !important;
    padding-right: 240px !important;
    padding-bottom: 120px !important;
    padding-left: 240px !important;
  }
}
@media only screen and (max-width: 767px) {
  .row-content-1 .wpb_column {
    margin: 0 0 5px 0;
  }
}
@media only screen and (max-width: 767px) {
  .row-content-1 .wpb_text_column {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .row-content-1 img {
    max-width: 195px !important;
  }
}
@media only screen and (min-width: 768px) {
  .row-content-1 img {
    max-width: 60px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .row-content-1 img {
    max-width: 80px !important;
  }
}
@media only screen and (min-width: 1920px) {
  .row-content-1 img {
    max-width: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .row-content-2 {
    padding-top: 40px !important;
    padding-right: 80px !important;
    padding-bottom: 40px !important;
    padding-left: 80px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .row-content-2 {
    padding-top: 50px !important;
    padding-right: 105px !important;
    padding-bottom: 50px !important;
    padding-left: 105px !important;
  }
}
@media only screen and (min-width: 1920px) {
  .row-content-2 {
    padding-top: 100px !important;
    padding-right: 280px !important;
    padding-bottom: 145px !important;
    padding-left: 280px !important;
  }
}
@media only screen and (max-width: 767px) {
  .row-content-2 .vc_row {
    margin-bottom: 0 !important;
  }
}
@media only screen and (min-width: 768px) {
  .row-content-2 img {
    max-width: 64px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .row-content-2 .wpb_single_image img {
    max-width: 86px !important;
  }
}
@media only screen and (min-width: 1920px) {
  .row-content-2 .wpb_single_image img {
    max-width: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .row-content-3 {
    padding-top: 20px !important;
    padding-right: 95px !important;
    padding-left: 95px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .row-content-3 {
    padding-top: 40px !important;
    padding-right: 130px !important;
    padding-left: 130px !important;
  }
}
@media only screen and (min-width: 1920px) {
  .row-content-3 {
    padding-top: 80px !important;
    padding-right: 305px !important;
    padding-left: 305px !important;
  }
}
@media only screen and (max-width: 767px) {
  .row-content-3 .wpb_column {
    margin-bottom: 15px !important;
  }
}
@media only screen and (min-width: 768px) {
  .row-content-3 .wpb_content_element {
    text-align: center;
    margin-bottom: 30px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .row-content-3 .wpb_content_element {
    margin-bottom: 40px !important;
  }
}
@media only screen and (min-width: 1920px) {
  .row-content-3 .wpb_content_element {
    margin-bottom: 60px !important;
  }
}
@media only screen and (max-width: 767px) {
  .row-content-3 .wpb_single_image {
    display: inline-block;
    width: 35px;
    vertical-align: top;
  }
}
@media only screen and (min-width: 768px) {
  .row-content-3 .wpb_single_image {
    margin-bottom: 10px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .row-content-3 .wpb_single_image {
    margin-bottom: 15px !important;
  }
}
@media only screen and (min-width: 1920px) {
  .row-content-3 .wpb_single_image {
    margin-bottom: 30px !important;
  }
}
@media only screen and (max-width: 767px) {
  .row-content-3 .wpb_text_column {
    display: inline-block;
    padding: 10px 0px;
    margin: 0 0 0 10px;
    width: 70%;
  }
}
@media only screen and (min-width: 768px) {
  .row-content-3 img {
    max-width: 40px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .row-content-3 .wpb_single_image img {
    max-width: 53px !important;
  }
}
@media only screen and (min-width: 1920px) {
  .row-content-3 .wpb_single_image img {
    max-width: none !important;
  }
}
.copyright {
  font-size: 16px;
  margin: 50px 0 20px 0;
}
@media only screen and (min-width: 1024px) {
  .copyright {
    font-size: 21px;
  }
}
@media only screen and (min-width: 1170px) {
  .copyright {
    font-size: 21px;
  }
}
@media only screen and (min-width: 1920px) {
  .copyright {
    font-size: 21px;
  }
}
.copyright .column-content {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .round-xs .vc_single_image-wrapper {
    display: block !important;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 70px !important;
  }
  .round-xs .vc_single_image-wrapper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
}
/* Flex Slider */
.flexslider {
  background: 0;
  border: 0;
}
.career .button {
  display: inline-block;
  background: 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  margin: 0 35px 0 0;
  border: 2px solid #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
}
@media only screen and (max-width: 767px) {
  .career .button {
    margin: 0 15px 0 0;
    border: 3px solid #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px 20px;
  }
}
@media only screen and (min-width: 768px) {
  .career .button {
    padding: 8px 50px;
  }
}
.career .share-button {
  background-image: url('../img/icon_share.png');
  background-repeat: no-repeat;
  background-position: left 20px center;
}
@media only screen and (max-width: 767px) {
  .career .share-button {
    padding: 5px 20px;
    background-size: 15px;
    text-indent: -9999px;
    background-position: center;
  }
}
@media only screen and (min-width: 768px) {
  .career .share-button {
    padding: 8px 15px 8px 45px;
    background-size: 19px;
    background-position: left 15px center;
  }
}
@media only screen and (min-width: 1024px) {
  .career .share-button {
    padding: 8px 15px 8px 45px;
    background-size: 16px;
    background-position: left 15px center;
  }
}
@media only screen and (min-width: 1920px) {
  .career .share-button {
    background-size: auto;
    padding: 8px 15px 8px 75px;
  }
}
/* Flex Slider */
.flex-control-paging li a {
  background: 0;
  border: 2px solid #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media only screen and (min-width: 1024px) {
  .flex-control-paging li a {
    width: 12px;
    height: 12px;
  }
}
@media only screen and (min-width: 1920px) {
  .flex-control-paging li a {
    width: 20px;
    height: 20px;
  }
}
.flex-control-paging li a:hover {
  background: #fff;
}
.flex-control-paging li a.flex-active {
  background: #fff;
}
@media only screen and (min-width: 1024px) {
  .flex-control-nav {
    bottom: -50px;
  }
}
@media only screen and (min-width: 1170px) {
  .flex-control-nav {
    bottom: -80px;
  }
}
@media only screen and (min-width: 1920px) {
  .flex-control-nav {
    bottom: -100px;
  }
}
