body {
    background-color: #000;
    color: #fff;
}
h1, h2, h3, h4 {
    color: #fff;
}
a, a:focus, a:hover, a:visited {
    color: #fff;
}
.navbar-toggle .icon-bar {
    border: 1px solid #fff;
}
.mobile-menu .navbar-toggle .icon-bar {
    background: #fff;
}