@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: italic;
    font-weight: 300;
    src: url(../fonts/opensanshe/opensanshebrew-lightitalic-webfont.eot);
    src: url(../fonts/opensanshe/opensanshebrew-lightitalic-webfont.eot?#iefix) format('embedded-opentype'),
    url(../fonts/opensanshe/opensanshebrew-lightitalic-webfont.woff) format('woff'),
    url(../fonts/opensanshe/opensanshebrew-lightitalic-webfont.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/opensanshe/opensanshebrew-light-webfont.eot);
    src: url(../fonts/opensanshe/opensanshebrew-light-webfont.eot?#iefix) format('embedded-opentype'),
    url(../fonts/opensanshe/opensanshebrew-light-webfont.woff) format('woff'),
    url(../fonts/opensanshe/opensanshebrew-light-webfont.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/opensanshe/opensanshebrew-italic-webfont.eot);
    src: url(../fonts/opensanshe/opensanshebrew-italic-webfont.eot?#iefix) format('embedded-opentype'),
    url(../fonts/opensanshe/opensanshebrew-italic-webfont.woff) format('woff'),
    url(../fonts/opensanshe/opensanshebrew-italic-webfont.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/opensanshe/opensanshebrew-regular-webfont.eot);
    src: url(../fonts/opensanshe/opensanshebrew-regular-webfont.eot?#iefix) format('embedded-opentype'),
    url(../fonts/opensanshe/opensanshebrew-regular-webfont.woff) format('woff'),
    url(../fonts/opensanshe/opensanshebrew-regular-webfont.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/opensanshe/opensanshebrew-bolditalic-webfont.eot);
    src: url(../fonts/opensanshe/opensanshebrew-bolditalic-webfont.eot?#iefix) format('embedded-opentype'),
    url(../fonts/opensanshe/opensanshebrew-bolditalic-webfont.woff) format('woff'),
    url(../fonts/opensanshe/opensanshebrew-bolditalic-webfont.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/opensanshe/opensanshebrew-bold-webfont.eot);
    src: url(../fonts/opensanshe/opensanshebrew-bold-webfont.eot?#iefix) format('embedded-opentype'),
    url(../fonts/opensanshe/opensanshebrew-bold-webfont.woff) format('woff'),
    url(../fonts/opensanshe/opensanshebrew-bold-webfont.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: italic;
    font-weight: 800;
    src: url(../fonts/opensanshe/opensanshebrew-extrabold-webfont.eot);
    src: url(../fonts/opensanshe/opensanshebrew-extrabold-webfont.eot?#iefix) format('embedded-opentype'),
    url(../fonts/opensanshe/opensanshebrew-extrabold-webfont.woff) format('woff'),
    url(../fonts/opensanshe/opensanshebrew-extrabold-webfont.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/opensanshe/opensanshebrew-extrabold-webfont.eot);
    src: url(../fonts/opensanshe/opensanshebrew-extrabold-webfont.eot?#iefix) format('embedded-opentype'),
    url(../fonts/opensanshe/opensanshebrew-extrabold-webfont.woff) format('woff'),
    url(../fonts/opensanshe/opensanshebrew-extrabold-webfont.ttf) format('truetype');
}
body {
    font-family: 'Open Sans Hebrew', sans-serif, Arial !important;
}

h2.attention {
    background-position: top right;
    padding: 0 40px 0 0;
}


#wrapper {
    direction: rtl !important;
    text-align: right !important;
}

.header-menu > ul > li {
    float: right;
}

.header-menu .dropdown-menu > li > ul {
    right: 355px;
}

#lang_sel_list li {
    float: left;
    border-right: 1px solid #000;
    border-left: 0;
}
#lang_sel_list li:last-child {
    border-right: 0;
}

/* Contact Form 7 */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    text-align: right !important;
}

/* VSRP */

.vsrp_wrapper {
    direction: rtl;
    text-align: right;
}
.vsrp_div {
    direction: rtl;
    text-align: right;
}


.display-posts-listing .listing-item .image {
    text-align: left;
}



.navbar-toggle {
    float: right;
}

/* Watu */
form.quiz-form {
    text-align: right !important;
}

.quiz-area .question-content p {
    margin-bottom: 10px;
}
.quiz-area .watu-question > div {
    margin-bottom: 10px;
}

.footer-menu {
    text-align: left;
}
.footer-menu ul li a {
    border-left: 1px solid #4e4e4e;
    border-right: 0;
}

.footer-menu ul li:last-child a {
    border-left: 0;
}

.tp-bullets {
    right: auto !important;
    left: 20px !important;
}