/*
	Theme Name: Sabres
	Theme URI: http://www.sabress.com
	Description: Sabres WordPress Theme
	Version: 1.0.0
	Author: Ariel Carmely (@arielcrm)
	Author URI:
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/
#pricing-section .vc_col-sm-1 {
	display: none;
}
#pricing-section .vc_col-sm-2 {
	width: 19%;
}
#pricing-section .vc_col-sm-2:first-child {
	width: 24%;
} 
#pricing-section h1 {
	margin: 0;
	padding-top: 40px;
	padding-bottom: 40px;
	font-family: 'Uni Sans Heavy CAPS';
	font-weight: 900;
	font-size: 58px;
    letter-spacing: -0.01em;
}
.pricing-header {
	padding-left: 40px;
}
.pricing-header h1{
	color:#000;
	margin:0 !important;
	line-height: 0.95em;
	padding-top: 25px !important;
	padding-bottom: 0 !important;
	font-size: 52px !important;
	font-family: 'Roboto' !important;
	font-weight: 200 !important;
	text-align: left !important;
	letter-spacing: -0.015em !important;
}
#pricing-section h2 {
	font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.05em;
}
#pricing-section h3 {
	margin-top: 40px;
	font-size: 19px;
	font-weight: 900;
	letter-spacing: -0.2em;
}
#pricing-section h5 {
	margin-top: 0;
	padding-left: 40px;
	width: 70%;
	color:#000;
	font-size: 21px;
    letter-spacing: 0em;
    text-align: left;
}
#pricing-section h4 {
	font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.05em;
}
#pricing-section a {
	
	border:1px solid #fff;
	border-radius: 10px;
	letter-spacing: 0em;
	padding: 3px 12px;
}
.mailto {
	padding-left: 40px;
}
.mailto h6 {
	font-weight: 400;
	font-size: 16px;
}
.mailto a {
	border: 1px solid #8bc53f !important;
	background: #8bc53f;
	color:#000;
	padding: 7px 10px !important;
	border-radius: 7px !important;
}
.mailto a:hover {
	border: 1px solid #000;
}
#pricing-section a:hover {
	text-decoration: none;
	border:2px solid #fff;
}

#pricing-section .vc_col-sm-2.wpb_column.vc_column_container {
	padding: 0 !important;
}
#pricing-section .vc_col-sm-12.wpb_column.vc_column_container {
	padding: 0 !important;
}

body.checkout header,
body.cart header  {
	margin-bottom: 70px;
	height:83px;

}

body.checkout h1,
body.cart h1 {
	color:#000;
	text-transform: uppercase;
    font-size: 50px;
}
body.checkout th,
body.cart th {
	font-weight: 400 !important;
    text-transform: uppercase;
    font-size: 14px;
}
td.product-name a {
	color:#000;
}
body.checkout h2,
body.cart h2 {
	color:#000;
	text-transform: uppercase;
    font-size: 30px;
}

.cart-collaterals {
	margin-top: 50px;
}
body.checkout main,
body.cart main{
	background-color:#f2f2f2;
	color:#000;
	margin-bottom: 100px;
	padding:1px 25px;
	border:3px solid #808080;
}

a.checkout-button.button.alt.wc-forward,
body.checkout input#place_order {
	font-size: 16px;
	background-color: #8cc63f;
	font-weight: 400 !important;
    text-transform: uppercase;
}
.woocommerce a.remove {
	color:#000 !important;
}
.woocommerce a.remove:hover {
	background: #000 !important;
}
body.checkout input.button,
body.cart input.button {
	border:1px solid #8cc63f;
	color:#000;
	font-weight: 400 !important;
    text-transform: uppercase;
    font-size: 14px;
}


/*------------------------------------*\
    SINGLE PRODUCT SPECIFIC
\*------------------------------------*/

body.single-product div#container {
	overflow: hidden;
	background-color: #f2f2f2;
	color:#000;
}
body.single-product div#content {
	overflow: hidden;
	width: 85%;
	margin: 0 auto;
	padding: 50px 0px 100px;
} 
body.single-product div#content .woocommerce-breadcrumb {
	display: none;
}
body.single-product div.product .product_title {
	color:#000;
	margin-bottom: 20px;
}
body.single-product div.product p.price {
	margin-bottom: 30px;
}
body.single-product button.single_add_to_cart_button.button.alt {
	font-size: 16px;
    background-color: #8cc63f;
    font-weight: 400 !important;
    text-transform: uppercase;
    margin-left: 5px;
}

body.single-product div.product div.images img {
	width: 85%;
}
body.single-product footer .row {
	padding-top: 40px;
}
body.single-product div.product form.cart {
	margin-top: 50px;
}
body.single-product .quantity .qty {
	height: 36px;
}
/*------------------------------------*\
    CHECKOUT SPECIFIC
\*------------------------------------*/

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
	width: 100%;
}

body.checkout h3 {
	color:#000;
	text-transform: uppercase;
    font-size: 20px;
    
}
h3#order_review_heading {
	padding-left:17px;
}
body.checkout label {
	font-size: 13px;
	font-weight: 400 !important;
    text-transform: uppercase;
}
body.checkout input,
body.checkout textarea  {
	font-size: 16px;
	padding:5px 0px 5px 10px;
}

body.checkout span.select2-chosen {
	font-size: 15px;
	height: 35px;
}

.payment_box.payment_method_cod p {
	font-size:14px;
}
div#order_review {
	padding-left: 17px;
	padding-right: 17px;
}


/*------------------------------------*\
    AFFILIATE AREA
\*------------------------------------*/
body.affiliate-area .col-md-6 {
	width: 65%;
	float: none;
	margin: 0 auto;
}
body.affiliate-area main {
	background-color: #f2f2f2;
    color: #000;
    margin-top: 70px;
    margin-bottom: 100px;
    padding: 1px 25px;
    border: 3px solid #808080;
}
body.affiliate-area main h1 {
	color:#000;
}
body.affiliate-area main h4 {
	color:#000;
	text-decoration: underline;
	margin-top: 30px;
}
body.affiliate-area main h3 {
	color:#000;
	text-transform: uppercase;
	font-weight: 400;
}

body.affiliate-area p,
body.affiliate-area .terms {
	font-size: 16px;
}
body.affiliate-area .terms a {
	color:#709e32;
}
body.affiliate-area input#user_login,
body.affiliate-area input#user_pass {
    display: block;
    width: 100%;
    border: 1px solid #cccccc;
    font-size: 16px;
    padding: 5px 0px 5px 10px;
    height: 44px;
}
p.login-submit {
	overflow: hidden;
}
p.login-submit input#wp-submit {
    font-size: 16px;
    background-color: #8cc63f;
    font-weight: 400 !important;
    text-transform: uppercase;
    border: 0;
    color: #fff;
    padding: .618em 1em;
    float: right;
    border-radius: 3px;
}
body.affiliate-area form#loginform {
	margin-bottom: 30px;
}
.affiliates-registration label,
body.affiliate-area form#loginform label,
.affiliates-fields label {
	line-height: 2;
	font-size: 13px;
    font-weight: 400 !important;
    text-transform: uppercase;
}

.affiliates-registration input[type="text"],
.affiliates-registration input[type="password"],
.affiliates-fields input[type="text"],
.affiliates-fields input[type="password"] {
	border:1px solid #cccccc;
	font-size: 16px;
    padding: 5px 0px 5px 10px;
}

.affiliates-registration input[type="submit"],
.affiliates-fields input[type="submit"] {
	font-size: 16px;
    background-color: #8cc63f;
    font-weight: 400 !important;
    text-transform: uppercase;
    border:0;
    color:#fff;
    padding: .618em 1em;
    float: right;
    border-radius: 3px;
}
form.affiliates-fields {
	overflow: hidden;
}
body.affiliate-area main ul {
	margin-top: 15px;
}
body.affiliate-area main ul li {
	font-size: 16px;
	color:#c7254e;
}

table.affiliates-earnings th {
	font-weight: 500;
	font-size: 17px;
	text-transform: uppercase;
	display: none;
}
table.affiliates-earnings td {
	font-size: 14px;
	font-style: italic;
}


/*
Redesign
*/
.aff-reveal {
	display: none;

}
.aff-tab-bar {
	overflow: hidden;
	margin: 40px auto;
}
.aff-tab {
	float: left;
	width: 33.3%;
	padding: 20px 0;
	text-align: center;

	letter-spacing: 0.1em;

	background:#8CC63F;
	color:#fff; 
	border-right:2px solid #f2f2f2;
}
.aff-tab:last-child {
	border:0;
}
.aff-tab:hover {
	background: #628a2c;
}
.aff-tab:hover {
	text-decoration: none;
}
.aff-tab button {
	border:0;
	outline: 0;
	background: transparent;
	font-size: 17px;
	text-transform: uppercase;
}

/*------------------------------------*\
    TERMS AND CONDITIONS PAGE
\*------------------------------------*/
body.terms-conditions .col-md-6 {
	float: none;
	margin: 0 auto;
	width: 75%;
}
body.terms-conditions main {
    background-color: #f2f2f2;
    color: #000;
    margin-top: 70px;
    margin-bottom: 100px;
    padding: 1px 25px;
    border: 3px solid #808080;
}
body.terms-conditions main h1 {
	color:#000;
}

/*------------------------------------*\
    ADDITIONAL RESPONSIVE
\*------------------------------------*/

@media screen and (max-width: 767px) {

	.pricing-header {
		padding-left: 0;
	}
	.pricing-header h1 {
		font-size: 34px !important;
		text-align: center !important;
		margin: 45px 0 !important; 
		padding: 0 !important;
	}
	#pricing-section .vc_col-sm-2:first-child {
		width: 100%;
	}
	#pricing-section h5 {
		font-size: 16px;
		padding-left: 0;
		padding-bottom: 11px;
		text-align: center !important;
		width: 100%;
	}
	.mailto {
		padding-left: 0;
	}
	.mailto h6 {
		text-align: center !important;
	}
	#pricing-section .vc_col-sm-2 {
		width: 25%;
		float: left;
	}
	#pricing-section h1 {
		font-size: 40px;
	}
	#pricing-section h2 {
		font-size: 16px;
		font-weight: 500;
	}
	#pricing-section h4 {
		font-size: 13px;
		font-weight: 300;
	}
	.wpb_column > .wpb_wrapper > *:last-child {
		margin: 0 auto;
	}
	.woocommerce-billing-fields p.form-row {
		width: 100%;
		float: none;
	}
	body.terms-conditions .col-md-6 {
		float: none;
		margin: 0 auto;
		width: 100%;
	}
	div#mobileMenu {
	    background: #000;
	    z-index: 999;
	    position: relative;
	}
	body.affiliate-area .col-md-6 {
		width: 100%;
	}
	.aff-tab {
		width: 100%;
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 620px) { 

	#pricing-section .vc_col-sm-2 {
		width: 100%;
		margin-bottom: 0;
	}
	#pricing-section .vc_col-sm-2:first-child {
		margin-bottom: 70px;
	}
	.pricing-section h1 {
		font-size: 42px !important; 
	}
	#pricing-section h2 {
		font-size: 22px !important;
		font-weight: 400 !important;
	}
	#pricing-section h4 {
		font-size:18px !important;
		margin-bottom: 15px;
	}
}







